body{
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
url("green-wallpaper.png");
background-size: cover;
width: 100%;
height: 100vh;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;

background-position: center;
}
h1{
  color: white;
  text-align: start;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 78px;
  letter-spacing: 2px;
}
h3{
  margin-top: -10px;
  opacity: 0.8;
}

main i{
  font-size: 30px;
  padding: 20px;
}
section i{
  font-size: 30px;
}
h5 main{
  font-size: 35px;
}
input{
  padding: 10px 15px;
  width: 59%;
 cursor: pointer;
  margin-left: 20px;
}
button{
  background-color:#fdb44b;
  border: none;
  box-shadow: 1px 1px 0.5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 5px;
  width: 25%;
  padding: 10px 15px;
 cursor: pointer;
  border-radius: 8px;
}
button:hover{
  opacity: 0.8;
}
.expense-message, .budget-message{
  display: none;
}
.showMessage{
  display: block;

}
.log-section
{
  margin-top: -100px;
  background-color: white;
  margin-left: 20px;
  max-width: 600px;
  padding:30px;
  opacity: 0.90;
  border-radius: 8px;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.calculator-section{
background-color: white;
margin-left: 900px;
text-align: center;
margin-top:100px;
padding: 20px;
opacity: 0.90;
border-radius: 8px;
  box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}
.dashboard{
  text-align: center;
  padding: 40px;
  background-color: white;
  max-width: 720px;
  margin-left:800px;
  margin-top: -40px;
  opacity: 0.90;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.budget-summary,.expense-summary, .balance-summary{
  margin: 10px;
  padding: 10px;
  text-align: center;
border: 3px solid rgb(219, 169, 169);
}
.expense-list{
  margin-top: 40px;
}
@media (max-width:960px){
  h1{
    font-size: 60px;
    text-align: center;
  }
  .log-section,main,.calculator-section{
    margin-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  .budget-summary,.expense-summary, .balance-summary{
    margin: 0 auto;
    display: block;
  }
  h3{
    font-size: 25px;
  }
   .dashboard{
    display: flex;
  
  }
}