body{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url("piggy-bank.jpg");
background-size: cover;
width: 100%;
height: 100vh;
background-position: center;
}
h1{
  color: white;
  text-align: center;
  margin-top: 20px;
}
h3{
  margin-top: -10px;
}
.section1
{
  margin-top: -300px;
  background-color: white;
  margin-left: 20px;
  max-width: 600px;
  padding:40px;
  opacity: 0.90;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.section2{
background-color: white;
margin: 0 auto;
text-align: center;
margin-top: 270px;
padding: 20px;
display: block;
opacity: 0.90;
border-radius: 8px;
  box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}
main{
  text-align: center;
  padding: 50px;
  background-color: white;
  max-width: 720px;
  margin: 0 auto;
  display: block;
  opacity: 0.90;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.budget-summary,.expense-summary, .balance-summary{
  margin: 10px;
align-items: baseline;
border: 3px solid rgb(219, 169, 169);
}
.expense-list{
  margin-top: 40px;
}
input{
  padding: 10px 15px;
  margin-left: 20px;
}
button{
  background-color:#fdb44b;
  border: none;
  box-shadow: 1px 1px 0.5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 5px;
  padding: 10px 15px;
 cursor: pointer;
  border-radius: 8px;
}
button:hover{
  opacity: 0.8;
}